/*
    normal font: 'Lato', sans-serif;
    important font: Georgia, 'Libre Baskerville', 'Times New Roman', Times, serif;
    html background color: #E6E2DB
    green background color: #00563F
    important color: #B5614C
    white on green: rgb(245, 245, 245)
*/

/* MAIN STYLES ============================================================== */

html, body {
    background-color: #E6E2DB;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    min-height: 100%;
}

h1 *, h2 * {
    color: #B5614C;
    text-decoration: none;
}

h1, h2 {
    color: #B5614C;
    font-family: Georgia, 'Libre Baskerville', 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 36px;
    text-transform: none;
}

h3 {
    color: #B5614C;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

h4 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
}

h5 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

h6 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
}


/* PARAGRAPH STYLES ========================================================= */

p, .primary-text {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.secondary-text {
    color: rgb(61, 74, 67);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}


/* LIST STYLES ============================================================== */

ul, ol, dl {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}


/* SPACER STYLES ============================================================ */

.spacer { padding-bottom: 200px; }

.mobile-spacer { padding-bottom: 450px; }

.spacer-top { padding-bottom: 25px; }

.sec-sec-spacer { padding-bottom: 50px; }

.head-head-spacer { padding-bottom: 10px; }

.head-p-spacer { padding-bottom: 20px; }

.p-p-spacer { padding-bottom: 15px; }


/* LAYOUT STYLES ============================================================ */

.nav-container {
    display: flex;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid black;
}

.header-header {
    position: relative;
    width: 100%;
    background-color: #00563F;
}

.header-header p { color: rgb(245, 245, 245); }

.page-name-container {
    position: relative;
    width: 60%;
    margin: auto;
}

.article-container {
    display: block;
    width: 60%;
    margin: auto;
}

.footer-container * {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(245, 245, 245);
    background-color: #00563F;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-container {
    display: flex;
    bottom: 0;
    width: 100%;
}
