/*
    normal font: 'Lato', sans-serif;
    important font: Georgia, 'Libre Baskerville', 'Times New Roman', Times, serif;
    html background color: #F0EBE1
    header-header background color: #600B04
    header color: white
    toned-down white: rgb(230, 230, 230)
*/

:root {
    --main-bg-color: #600B04;
    --main-bg-color-hover: rgb(221, 51, 21);
    --dark-white : rgb(230, 230, 230);
    --light-white : white;
    --dark-black: black;
}

/* MAIN STYLES ============================================================== */

html, body {
    background-color: #F0EBE1;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-y: hidden;
}

h1 *, h2 * {
    color: var(--main-bg-color);
    text-decoration: none;
}

h1, h2 {
    color: var(--main-bg-color);
    font-family: Georgia, 'Libre Baskerville', 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 36px;
    text-transform: none;
}

h3 {
    color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

h4 {
    color: var(--dark-black);
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
}

h5 {
    color: var(--dark-black);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

h6 {
    color: var(--dark-black);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

span { display: inline-block; }

.url {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-bg-color);
}

.url:hover {
    color: var(--main-bg-color-hover);
}

.url:active {
    color: var(--main-bg-color);
}


/* PARAGRAPH STYLES ========================================================= */

p, .primary-text {
    color: var(--dark-black);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.secondary-text {
    color: rgb(61, 74, 67);
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}


/* LIST STYLES ============================================================== */

ul, ol, dl {
    color: var(--dark-black);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}


/* LAYOUT STYLES ============================================================ */

#page-container {
    position: relative;
    min-height: 100vh;
}

.nav-container {
    display: flex;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--dark-black);
}

.header-header {
    position: relative;
    width: 100%;
    background-color: var(--main-bg-color);
}

.header-header p { color: var(--dark-white) }

.index-spacing { padding-bottom: 125px; }

.page-name-container {
    position: relative;
    width: 75%;
    margin: auto;
}

.article-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-top: 50px;
}

.footer-container * {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--dark-white);
    background-color: var(--main-bg-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-container {
    padding-top: 100px;
    display: flex;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}

article { padding-bottom: 200px; }

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* SCROLLBAR ================================================================ */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(96, 11, 4, 0.75);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(96, 11, 4, 0.9);
}


/* SPACERS ================================================================== */

.xs-spacer { margin: 10px 0; }

.small-spacer { margin: 15px 0; }

.med-spacer { margin: 25px 0; }

.large-spacer { margin: 50px 0; }

.xl-spacer { margin: 100px 0; }

.bottom-border { border-bottom: 2px solid var(--main-bg-color); }


/* BACK TO TOP BUTTON ======================================================= */

#btt-button {
    color: white;
    font-size: 35px;
    background-color: rgba(96, 11, 4, 0.75);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

#btt-button:hover {
    cursor: pointer;
    background-color: var(--main-bg-color);
}

#btt-button.show {
    opacity: 1;
    visibility: visible;
}

.fa-angle-up { transform: translate(-1px, -15px); }
