/*
    normal font: 'Lato', sans-serif;
    important font: Georgia, 'Libre Baskerville', 'Times New Roman', Times, serif;
    html background color: #F0EBE1
    header-header background color: #600B04
    header color: white
    toned-down white: rgb(230, 230, 230)
*/

:root {
    --main-bg-color: #600B04;
    --dark-white : rgb(230, 230, 230);
    --light-white : white;
    --dark-black: black;
}

/* NAV STYLES =============================================================== */

nav a { color: var(--dark-black); }

nav a:hover, .current { color: var(--main-bg-color); }

button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
}

.current { font-weight: bold; }

.logo {
    padding-left: 0%;
    width: 50%;
}

.logo a { text-decoration: none; }

.my-nav-links a li { text-decoration: none; }

.my-nav-links {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-content: center;
    margin-left: auto;
}

/* for the burger lines */
.toggle .line1 { transform: rotate(-45deg) translate(-5px, 5px); }

.toggle .line2 { opacity: 0; }

.toggle .line3 { transform: rotate(45deg) translate(-5px, -5px); }

/* fluid navbar for small screens */
@media screen and (max-width: 940px) {
    .line1, .line2, .line3 {
        z-index: 100;
        width: 30px;
        height: 2px;
        margin: 5px;
    }

    .hamburger div {
        z-index: 100;
        background-color: black;
        width: 25px;
        height: 2px;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .hamburger {
        z-index: 100;
        position: absolute;
        padding-right: 5%;
        cursor: pointer;
        right: 0;
    }

    .my-nav-links {
        z-index: 100;
        position: absolute;
        background: rgba(250, 235, 215, 0.95);
        height: 300px;
        width: 75%;
        flex-direction: column;
        border-radius: 25px;
        /* circle flow animation */
        clip-path: circle(100px at 100% -100%);
        -webkit-clip-path: circle(100px at 100% -100%);
        transition: all 0.75s ease-out;
        transform: translateX(30%) translateY(-15px);
    }

    .my-nav-links li {
        z-index: 100;
        opacity: 0;
        text-align: center;
    }

    .my-nav-links a li { text-decoration: none; }

    /* animating links */
    .my-nav-links.open {
        clip-path: circle(1250px at 100% -20%);
        -webkit-clip-path: circle(1250px at 100% -20%);
        transition: all 1s ease-out;
    }

    /* animating navbar */
    .my-nav-links li:nth-child(1) { transition: all 0.75s ease 0.1s; }
    .my-nav-links li:nth-child(2) { transition: all 0.75s ease 0.2s; }
    .my-nav-links li:nth-child(3) { transition: all 0.75s ease 0.3s; }
    .my-nav-links li:nth-child(4) { transition: all 0.75s ease 0.4s; }

    li.fade { opacity: 1; }
}


/* HEAD CONTENT STYLES ====================================================== */

.white-container { color: var(--light-white); }

.page-title {
    padding: 50px 0;
    background-color: var(--main-bg-color);
    margin-top: 35px;
}

.page-title * { color: var(--light-white); }

.affiliation * {
    padding-top: 10px;
    padding-left: 5%;
    color: var(--main-bg-color);
}

.picture {
    position: relative;
    flex-direction: column;
}

.profile-pic {
    background: transparent;
    position: relative;
    top: -75px;
    width: 350px;
    z-index: 1;
}

.intro {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 45%;
    color: var(--main-bg-color);
    width: 60%;
    z-index: 2;
}

#typewriter-rotate {
    padding-top: 5px;
    padding-bottom: 20px;
}


/* SOCIAL MEDIA ICON STYLES ================================================= */

.social-media-icons {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    justify-content: left;
    width: 100%;
}

.social-media-icons a {
    color: var(--light-white);
    text-decoration: none;
}

.social-media-icons #github-icon a:hover { color: #FF0800; }

.social-media-icons #cv-icon a:hover { color: #FFE74C; }

.social-media-icons #linkedin-icon a:hover { color: #2A9DF4; }

.social-media-icons #email-icon a:hover { color: #20BF55; }

.filler { width: 15px; }


/* SMALL SCREEN STYLES ====================================================== */

@media screen and (max-width: 2048px) {
    .intro { left: 25%; }
    .profile-pic { left: 7.5%; }
}

@media screen and (max-width: 1720px) {
    .intro { left: 25%; }
    .profile-pic { left: 7.5%; }
}

@media screen and (max-width: 1480px) {
    .intro { left: 30%; }
    .profile-pic { left: 7.5%; }
}

@media screen and (max-width: 1280px) {
    .intro { left: 32.5%; }
    .profile-pic { left: 5%; }
}

@media screen and (max-width: 1120px) {
    .intro { left: 35%; }
    .profile-pic { left: 5%; }
}

@media screen and (max-width: 1000px) {
    .intro { left: 40%; }
    .profile-pic { left: 5%; }
}

@media screen and (max-width: 940px) {
    .my-nav-links .fade-in {
        padding: 10px 40px;
        width: 50%;
        margin: auto;
        border-radius: 15px;
        background: transparent;
        transition: all 0.25s ease-in;
        border: 0;
    }

    .my-nav-links .fade-in a { transition: all 0.4s ease; }

    .my-nav-links .fade-in:hover {
        padding: 10px 40px;
        color: var(--light-white);
        background-color: var(--main-bg-color);
        border-radius: 15px;
    }

    .my-nav-links .fade-in:hover a {
        color: var(--main-bg-color);
    }

    .header-header {
        display: flex;
        width: 80%;
        max-width: 550px;
        min-width: 350px;
        flex-direction: column;
        margin: auto;
        border-radius: 25px;
    }

    .picture {
        display: flex;
        align-items: center;
    }

    .profile-pic {
        border-radius: 25px;
        top: -50px;
        left: 0;
        margin: auto;
        width: 70%;
    }

    .intro {
        text-align: center;
        position: relative;
        top: -25px;
        left: 0;
        margin: auto;
        width: 100%;
    }

    .intro p { text-align: left; }

    .social-media-icons { justify-content: center; }

    .filler { width: 15px; }
}


/* UNDER CONSTRUCTION STYLES ================================================ */

.construction {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.construction * {
    text-align: center;
    text-transform: uppercase;
    color: var(--light-white);
}

.three-cogs {
    position: relative;
    color: var(--light-white);
    display: flex;
    justify-content: center;
    width: 5%;
}

#construction-center {
    position: relative;
    padding-top: 40px;
    text-align: center;
    margin: auto;
    width: 10%;
}

.fa:first-child { animation-duration: 4.5s; }

.fa:nth-child(2), .fa:last-child {
    position: absolute;
    top: -0.25em;
    left: 0.45em;
    animation-direction: reverse;
    animation-duration: 2.25s;
}

.fa:last-child {
    top: auto;
    bottom: -0.2em;
}

@keyframes barrelRoll {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes invertBarrelRoll {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}


/* BOOTSTRAP STYLES ========================================================= */

.tooltip-inner { border-radius: 5px; }

.my-tooltip, .my-tooltip:hover { color: var(--dark-white); }


/* APPLICATION STYLES ======================================================= */

.app-container {
    height: 480px;
    border-radius: 15px;
    overflow: hidden;
}

#covid-app {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform: translateY(0px);
}


/* OVERLAY CARD STYLES ====================================================== */

.gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 100px;
}

.grid-item {
    display: inline-block;
    width: 100%;
}

.overlay-container {
    position: relative;
    width: 100%;
}

.overlay-image {
    display: block;
    width: 100%;
    height: 400px;
}

.overlay-item {
    box-sizing: border-box;
    padding: 25px;
    background-color: var(--light-white);
    color: var(--dark-black);
    width: 100%;
    height: 15%;
    min-height: 100px;
    display: flex;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 0;
}

.overlay-container:hover .overlay-item { opacity: 1; }

.wide-gif { border-radius: 5px; }

@media screen and (max-width: 968px) {
    .gallery-container {
        display: flex;
        flex-direction: column;
    }

    .photo-img-container {
        padding-bottom: 50px;
        padding-top: 50px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .photo-img-container:last-child { border-bottom: none; }

    .overlay-image {
        position: relative;
        max-width: 500px;
    }

    .overlay-item {
        bottom: 0;
        max-width: 500px;
    }
}


/* flip card ================================================================ */

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 2500px;
    cursor: pointer;
    position: relative;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    min-height: 750px;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    box-sizing: border-box;
    padding: 25px;
    background-color: white;
    color: var(--dark-black);
    transform: rotateY(180deg);
}

.flip-active {
    transform: rotateY(180deg);
}
